#postbox-container-2 .postbox {
	.inside {
		row-gap: 16px;
		column-gap: 12px;
		margin-top: 8px;

		.rtbs-postbox-item {
			display: contents;

			label {
				position: relative;
				display: flex;
				flex-direction: column;
				gap: 8px;
				flex: 1;

				input {
					margin: 0;
				}
			}

			.rtbs-library-date {
				.rtbs-icon {
					position: absolute;
					left: 3px;
					bottom: 3px;

					&--exclamation,
					&--cross {
						display: none;
					}
				}

				input:not(:placeholder-shown) {
					padding-left: 30px;
				}

				&--warning,
				&--danger {
					.rtbs-icon--checkmark {
						display: none;
					}
				}

				&--warning {
					.rtbs-icon--exclamation {
						display: block;
					}
				}

				&--danger {
					.rtbs-icon--cross {
						display: block;
					}
				}

				&:has(input:placeholder-shown) .rtbs-icon--checkmark {
					display: none;
				}
			}
		}
	}

	&#rtbs-component-libraries .inside {
		grid-template-columns: repeat(2, 1fr) auto;
	}

	&#rtbs-component-references .inside {
		grid-template-columns: repeat(2, 1fr);
	}

	&:not(.closed) .inside {
		display: grid;
	}
}
