body.single-rtbs-component {
	main {
		position: relative;

		.lines {
			position: absolute;
			inset: 0;
			z-index: -1;
			display: flex;
			justify-content: space-evenly;

			.line {
				height: 100%;
				width: 1px;
				opacity: 0.5;
				background: var(--border-secondary);
			}
		}

		article {
			padding-bottom: 80px;

			header {
				padding: 80px 24px 24px;
				border-bottom: 1px solid var(--border-secondary);

				h1 {
					font-family: 'PPEditorialNew', sans-serif;
					text-box: trim-both cap alphabetic;
				}

				&::after {
					content: '';
					height: 1px;
					width: 100%;
					background: var(--border-secondary);
				}
			}

			.grid {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				padding-inline: 24px;
				background: var(--background-secondary);
				border-top: 1px solid var(--border-secondary);
				border-bottom: 1px solid var(--border-secondary);

				&__cell {
					display: flex;
					align-items: center;
					padding: 16px 0;

					&--header {
						padding-bottom: 8px;
						font-weight: 500;
						font-size: 0.75rem;
						text-transform: uppercase;
						color: var(--text-tertiary);
					}

					&--empty {
						grid-column: 1 / -1;
						margin: 0;
					}

					&:not(:nth-last-child(-n + 4)) {
						border-bottom: 1px solid var(--border-secondary);
					}
				}

				a {
					color: var(--text-brand-primary);
					transition: color 0.2s ease-in-out;
					text-decoration: underline;
					text-underline-position: under;

					&:hover {
						color: var(--text-brand-secondary);
					}
				}
			}

			#description {
				padding: 24px 24px 0;
			}

			#actions {
				flex-direction: row;
				align-items: end;
				gap: 24px;
				padding-inline: 24px;
			}

			#preview {
				position: relative;
				resize: horizontal;
				overflow: hidden;
				max-width: calc(100% - 48px);
				margin-right: auto;
				margin-left: auto;
				padding: 24px;
				margin-top: 80px;
				border-top: 1px solid var(--border-secondary);
				border-bottom: 1px solid var(--border-secondary);
				background: var(--background-secondary);

				.rtbs-button--expand {
					position: relative;
					align-self: end;
					margin-bottom: 8px;

					.rtbs-icon {
						transition: opacity 0.1s ease-in-out;

						&--collapse {
							position: absolute;
							opacity: 0;
						}
					}
				}

				p {
					margin: 0;
				}

				&.expanded {
					position: absolute;
					height: 100dvh;
					width: 100dvw;
					inset: 0;
					z-index: 1;
					margin-top: 0;

					.rtbs-button--expand {
						.rtbs-icon {
							&--expand {
								opacity: 0;
							}
							&--collapse {
								opacity: 1;
							}
						}
					}
				}
			}

			.tabs#code {
				color-scheme: dark;
				overflow: hidden;
				border-top: 1px solid var(--border-secondary);
				border-bottom: 1px solid var(--border-secondary);
				background: var(--background-secondary);

				.tabs-list {
					position: relative;
					display: flex;
					gap: 24px;
					padding-inline: 24px;
					border-bottom: 1px solid var(--border-secondary);

					.tabs-trigger {
						height: 48px;
						font-weight: 500;
						font-size: 0.875rem;
						color: var(--text-secondary);
						border: none;
						background: none;

						&:nth-child(1):not([aria-selected]),
						&[aria-selected='true'] {
							color: var(--text-primary);
						}
					}

					.tabs-indicator {
						position: absolute;
						bottom: -1px;
						left: 0;
						height: 1px;
						background: var(--foreground-brand-primary);
						transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
					}
				}

				.tabs-panel {
					position: relative;
					max-height: 560px;
					overflow: auto;
					scrollbar-width: thin;
					background: var(--background-secondary);
					padding: 24px;
					color: var(--text-secondary);
					font: 400 0.875rem monospace;

					.rtbs-button--copy {
						position: absolute;
						top: 24px;
						right: 24px;

						.rtbs-icon {
							transition: opacity 0.1s ease-in-out;

							&--check {
								position: absolute;
								inset: 8px;
								opacity: 0;
							}
						}

						&--success {
							.rtbs-icon {
								&--copy {
									opacity: 0;
								}

								&--check {
									opacity: 1;
								}
							}
						}
					}

					p,
					pre {
						margin: 0;
					}

					.code {
						tab-size: 4;
					}
				}
			}
		}
	}

	&:has(#preview.expanded) {
		overflow: hidden;
	}
}
