body[class*='rtbs-'] {
	.rtbs-header {
		display: flex;
		border-bottom: 1px solid var(--border-secondary);

		&__left {
			width: calc((100vw - var(--main-width)) / 2);
			display: flex;
			justify-content: end;
			align-items: end;
			padding: 80px 24px 24px;
		}
	}

	.rtbs-navigation {
		position: fixed;
		height: 100%;
		width: calc((100% - var(--main-width)) / 2);
		top: 0;
		right: calc(((100% - var(--main-width)) / 2) + var(--main-width));
		display: flex;
		flex-direction: column;

		& > * {
			padding-left: calc(100% - 240px);
		}

		&__header {
			position: relative;
			box-sizing: content-box;
			height: 32px;
			display: flex;
			justify-content: space-between;
			align-items: end;
			padding-top: 80px;
			padding-right: 24px;
			padding-bottom: 24px;
			border-bottom: 1px solid var(--border-secondary);

			&_title,
			&_version {
				text-box: trim-both cap alphabetic;
			}

			&_title {
				font-weight: 600;
			}

			&_version {
				font-size: 0.875rem;
			}

			&::after {
				content: '';
				position: absolute;
				left: calc(100% + 1200px);
				bottom: -1px;
				display: block;
				height: 1px;
				width: 100%;
				background: var(--border-secondary);
			}
		}

		&__subtitle {
			margin: 40px 0 8px;
			font-weight: 600;
			font-size: 0.875rem;
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 4px;
			margin: 0;
			list-style-type: none;

			a {
				font-weight: 500;
				font-size: 0.875rem;
				color: var(--text-secondary);
				text-decoration: none;
				transition: all 0.2s ease-in-out;

				&:hover {
					color: var(--text-primary);
				}

				&.active {
					color: var(--text-brand-primary);
				}
			}
		}
	}

	main {
		max-width: var(--main-width);
		margin: 0 auto;

		article {
			border-left: 1px solid var(--border-secondary);
			border-right: 1px solid var(--border-secondary);

			section {
				display: flex;
				flex-direction: column;
				padding-top: 80px;

				h2 {
					padding-inline-start: 24px;
					font-family: 'PPEditorialNew', sans-serif;
					font-size: 1.5rem;
					font-weight: 500;
				}

				&:not(.rtbs-content) {
					gap: 24px;
				}
			}
		}
	}

	&.admin-bar .rtbs-navigation {
		top: var(--wp-admin--admin-bar--height);
	}
}

.rtbs-icon {
	display: block;

	&__shade {
		opacity: 0.2;
	}

	&--checkmark {
		color: var(--color-success-600);
	}

	&--exclamation {
		color: var(--color-warning-600);
	}

	&--cross {
		color: var(--color-error-600);
	}
}

.rtbs-label {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font: 500 0.875rem/20px 'Poppins', sans-serif;
	color: var(--text-secondary);
}

.rtbs-button,
.rtbs-select,
.rtbs-input {
	font: 500 0.875rem/20px 'Poppins', sans-serif;
	text-decoration: none;
	border-radius: 0;
	border: none;
}

.rtbs-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	padding: 10px 16px;
	color: var(--text-solid-primary);
	background-color: var(--background-solid-primary);
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

	svg {
		display: block;
		color: var(--foreground-solid-secondary);
		width: 20px;
		height: 20px;
	}

	&:has(svg):not(.rtbs-button--icon) {
		padding: 10px 16px 10px 12px;
	}

	&:hover {
		background-color: var(--background-solid-secondary);
	}

	&--icon {
		padding: 10px;
	}

	&--secondary {
		padding: 9px 16px;
		color: var(--text-primary);
		background-color: var(--background-secondary);
		border: 1px solid var(--border-primary);

		svg {
			color: var(--foreground-secondary);
		}

		&:has(svg):not(.rtbs-button--icon) {
			padding: 9px 16px 9px 12px;
		}

		&:hover {
			background-color: var(--background-primary);
		}

		&.rtbs-button--icon {
			padding: 9px;
		}
	}
}

.rtbs-select {
	padding: 10px 12px 10px 16px;
	color: var(--color-neutral-900);
	background-color: var(--color-neutral-00);

	&,
	&::picker(select) {
		appearance: base-select;
	}

	button {
		selectedcontent {
			flex: 1;
			font: 500 0.875rem/20px 'Poppins', sans-serif;
			color: var(--color-neutral-900);
			white-space: nowrap;
		}

		svg {
			display: block;
			width: 20px;
			height: 20px;
			margin-left: 24px;
			transition: transform 0.2s ease-in-out;
		}
	}

	&:open > button svg {
		transform: rotate(180deg);
	}

	&::picker-icon {
		display: none;
	}
}

.rtbs-input {
	padding: 10px 16px;
	color: var(--color-neutral-900);
	background-color: var(--color-neutral-00);
}

.rtbs-status {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 4px 12px 4px 4px;
	font-size: 0.75rem;
	font-weight: 500;
	border-radius: 40px;
	border-width: 1px;
	border-style: solid;

	svg {
		width: 20px;
		height: 20px;
	}

	&--maintained {
		color: var(--text-success-primary);
		border-color: var(--border-success-primary);
		background-color: var(--background-success-primary);

		svg {
			color: var(--foreground-success-primary);
		}
	}

	&--risky {
		color: var(--text-warning-primary);
		border-color: var(--border-warning-primary);
		background-color: var(--background-warning-primary);

		svg {
			color: var(--foreground-warning-primary);
		}
	}

	&--deprecated {
		color: var(--text-error-primary);
		border-color: var(--border-error-primary);
		background-color: var(--background-error-primary);

		svg {
			color: var(--foreground-error-primary);
		}
	}
}
