.rtbs-unstyled-label {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font: 500 0.875rem/20px 'Poppins', sans-serif;
	color: var(--text-secondary);
}

button.rtbs-unstyled-button,
select.rtbs-unstyled-select,
input.rtbs-unstyled-input {
	font: 500 0.875rem/20px 'Poppins', sans-serif;
	text-decoration: none;
	border: 1px solid var(--border-primary);
	border-radius: 0;
	background: var(--background-primary);
}

.rtbs-unstyled-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 10px 16px;

	svg {
		display: block;
		width: 20px;
		height: 20px;
	}

	&:has(svg):not(.rtbs-button--icon) {
		padding: 10px 16px 10px 12px;
	}

	&--secondary {
		color: var(--color-neutral-700);
		background-color: var(--color-neutral-50);

		&:hover {
			color: var(--color-neutral-900);
			background-color: var(--color-neutral-100);
		}
	}

	&--icon {
		padding: 10px;
	}
}

.rtbs-unstyled-select {
	padding: 10px 12px 10px 16px;
	color: var(--text-primary);
	background-color: var(--background-primary);

	&,
	&::picker(select) {
		appearance: base-select;
	}

	button {
		selectedcontent {
			flex: 1;
			font: 500 0.875rem/20px 'Poppins', sans-serif;
			color: var(--text-primary);
			white-space: nowrap;
		}

		svg {
			display: block;
			width: 20px;
			height: 20px;
			margin-left: 24px;
			transition: transform 0.2s ease-in-out;
		}
	}

	&:open > button svg {
		transform: rotate(180deg);
	}

	&::picker-icon {
		display: none;
	}
}

.rtbs-unstyled-input {
	padding: 10px 16px;
	color: var(--text-primary);
	background-color: var(--background-primary);
}
