#search-engine-component {
	container: rtbs-search-engine / inline-size;
}

#search-engine-filters {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-block-end: 40px;

	.rtbs-label {
		flex: 1;
	}
}

#search-engine-results {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 16px;
}

.post-card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
	outline: none;
	border: 1px solid var(--color-neutral-200);
	text-decoration: none;

	.post-card__thumbnail {
		width: 100%;
		object-fit: cover;
	}

	.post-card__title {
		color: var(--color-neutral-900);
		font-weight: 500;
	}
}

@container rtbs-search-engine (min-width: 700px) {
	#search-engine-filters {
		flex-direction: row;
		align-items: flex-end;
	}
}
